body {
	background: #ccffcc;
	font-family: arial, helvetica, sans-serif;
	margin-left: 50px;
	}
#main {
	position: relative;
}	

#panel {
	background: #ccccff;
	font-family: sans-serif;
	font-weight: bold;
	padding: 20px;
	margin-left: 50px;
	width: 280px;
	border: 5px double #999999 ;
}
#memory {
	background: #ffffcc;
	font-family: sans-serif;
	padding: 20px;
	//margin-left: 50px;
	//margin-top: 50px;
	position: absolute;
	top: 50px;
	left: 400px;
	width: 480px;
	border: 5px double #999999 ;
}
#row {
	background: #ffffff;
	font-family: monospace;
}
//
// see http://www.barelyfitz.com/screencast/html-training/css/positioning/
//